html {
    --color-thm-green: rgb(128, 186, 36);
    --color-thm-grey: rgb(74, 92, 102);
    --color-lightgrey: rgb(211, 211, 211);
    --color-background: #ff;
    --color-font: #00;
    --color-col1: #186ba2;
    --color-col2: #c01111;
    --color-col3: #dfb234;
    --color-col4: #d8317f;
    --color-col5: #e6662f;
    --color-col6: #00b8ac;

}

h1 {
    color: var(--color-font);
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 50;

}
p{
    color: var(--color-font);
    font-size: 35;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

ul, li {
    color: var(--color-font);
    font-size: 45;
    width:100%;
}

li {
    margin-left: 5%;
}

hr {
    margin: 10%;
}

input {
    width: 14%;
    margin-left: 3%;
    margin-right: 3%;
    height: 0;
    padding-bottom: 14%;
    font-size: 30;
}

#my-button {
    width: 80%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-size: 3.75em;

    color: var(--color-font);
    background-color: var(--color-lightgrey);
    border-width: 5px;
    border-color: var(--color-thm-green);
    border-radius: 25px;
}
#cancel-button {
    position: fixed;
    width: 40%;
    height: 10%;
    display: block;
    margin-left: auto;
    bottom: 0%;
    right: 0%;
    font-size: 2.5em;

    color: black;
    background-color: var(--color-background);
    border-width: 0;

}

#logo{
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;

    margin-top: 10%;
    margin-bottom: 5%;
}

#buffer5 {
    height: 5%;
}

#buffer10 {
    height: 10%;
}

#buffer15 {
    height: 15%;
}

#buffer20 {
    height: 20%;
}

#centerdiv {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.col-button {
    width: 30%;
    height: 0;
    margin: 10%;
    padding-bottom: 30%;
    border-radius: 25px;
}

#col-button-1 {
    background-color: var(--color-col1);
}

#col-button-2 {
    background-color: var(--color-col2);
}

#col-button-3 {
    background-color: var(--color-col3);
}

#col-button-4 {
    background-color: var(--color-col4);
}

#col-button-5 {
    background-color: var(--color-col5);
}

#col-button-6 {
    background-color: var(--color-col6);
}